{% load static %}
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Sugahfree</title>
    </head>
    <body>
        <h1>Sugahfree</h1>
        <div>
            <img src="heather-ford-Fq54FqucgCE-unsplash.jpg" alt="doughnuts">
        </div>
        <h3 style="color:rgb(72, 200, 246);">(a diabetes tracker)</h3>
        
        <div>
            <h3>Add New Entry</h3>
            <form class="ba bw2 b--blue" data-user= {{ user.id }} id='input-form' method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-hot-pink" type="submit">Add Information</button>
            </form>
            
    </body>
</html>
{% endblock %}