{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class = 'main'>

<img src="{% static 'images/logo.png'%}" alt='sugahfree logo' class='pa4'></img>



<p"color:black;">"As a diabetic, I want to be able to keep track of my insulin & carbs intake so that I can live
    a longer healthier life."</p>
<div class = 'content'>
<div class = 'form-container'>
    <h3>ADD NEW ENTRY</h3>
    <form data-user={{ user.id }} id='input-form' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="f6 link dim br-pill ph3 pv2 mb2 dib " type="submit">Save</button>
    </form>
</div>
<h2>ENTRY RECORDS</h2>
<div id='results' class = 'list p10'></div>

<iframe
 src="https://free.timeanddate.com/countdown/i8b19alf/n3261/cf11/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fn2/fs100/szw256/szh108/tatLast%20Time%20Visited%20This%20Page/tac000/tptLast%20Time%20Visited%20This%20Page/tpc000/matDiabetic%20Tracker/mac000/mptDiabetic%20Tracker/mpc000/iso2022-04-30T04:25:43" allowtransparency="true" frameborder="0" width="174" height="44"></iframe>
</div>
</div>

{% endblock %}