{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugahfree</title>
</head>
<body>
    <h2>LOGIN / SIGNUP</h2>
        <input type="text" placeholder="Email">
        <br>
        <input type="text" placeholder="Password">
        <br>
        <a>Forgot Password</a>
        <br>
        <button>Login</button>
</body>
</html>