body {
    background-color: rgb(250, 250, 222);
}
 
h1 {
    text-align: center;
    font-family:-apple-system;
    font-size: 50px;

}

p {
    text-align: center;
}

div {
    text-align: center;
}
h3 {
    font-family: -apple-system;
    font-size: 25px;
}

h2 {
    font-family: -apple-system;
    font-size: 25px;
    text-align: center;
}

button {
    font-style: italic;
}