.content{
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex; 
  align-items: center;
  flex-direction: column;

}

h1 {

    font-size: 50px;
    
}

p {
   
}

div {
 
}
h3 {
    
    font-size: 25px;
}

h2 {
    
    font-size: 25px;
   
}

button {
    
    font-style: italic;
}
  
  #container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  #edit {
    padding: 5px;
    outline: none;
  }
 
.form-container {
  display: flex; 
  align-items: center;
  flex-direction: column;
}

#input-form {
  display: flex; 
  align-items: center;
  flex-direction: column;

}